@font-face {
  font-family: justsignature;
  src: url('../fonts/justsignature/JustSignature.woff');
}
body, html {
  width: 100%;
  height: 100%;
}
p {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: rgb(40, 40, 40);
  font-size: 14px;
  font-weight: 400;
}

#id-card {
  position: relative;
  display: none;
  margin: 25px 50px 50px 25px;
  width: 455px;
  height: 289px;
  background: url("../images/id_template_m.png");
  background-repeat: no-repeat;
  background-size: 455px 289px;
}

img {
  position: absolute;
  left:7px;
  top:5px;
}
#name {
  top: 40px;
  left: 162px;
  font-weight: 500;
  font-size: 18px;
  color: #282828;
}

#surname {
  position: absolute;
  font-weight: 700;
  font-size: 16px;
  color: #282828;
  top: 83px;
  left: 162px;
}

#firstname {
  position: absolute;
  font-weight: 400;
  color: #282828;
  top: 112px;
  left: 162px;
}

#inline {
  position: absolute;
  top: 140px;
}

#dob {
  position: absolute;
  left: 162px;
  top: 167px;
  width: 100px;
}

#doi {
  position: absolute;
  left: 162px;
  top: 194px;
  width: 100px;
}

#doe {
  position: absolute;
  left: 162px;
  top: 222px;
  width: 100px;
}

#sex {
  position: absolute;
  left: 162px;
}

#nationality {
  position: absolute;
  left: 215px;
  width: 60px;
}

#fingerprint {
  position: absolute;
  left: 331px;
  top: 62px;
  font-size: 12px;
}

#signature {
  position: absolute;
  left: 15px;
  top: 245px;
  width: 100px;
  font-weight: 600;
  font-family: justsignature;
}

.hidden {
	display:none;
}
